body {
    display: flex;
    background: linear-gradient(35deg, #d6eaf8, #d6d9f8, #f8d6d9, #f8d6ea);
    box-shadow: inset 0 0 10px #000000;
    height: 100vh;
}

#leftBox {
    width: 40%;
    height: 100%;
    padding: 5%;
    text-align: center;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    padding-bottom: 5%;
}

p {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5%;
}

#rightBox {
    width: 60%;
    height: 100%;
    padding: 1.3%;
    justify-self: auto;
    margin: auto;
    justify-content: center;
    
}

#mainBox {
    background-color: grey;
    display: grid;    
    width: 100%;
    height: 100%;
    border: 5px black solid;
}
